*{
    padding: 0;
    margin: 0;
}

#mainContainer{
    background-color: rgba(70,90,135,255);
    color: white;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 3.5vh;
    text-align: center;
    padding: 0.2em 10px 0.5em 10px;
}
